@page
@model VideoGameGrade.Pages.GameCollectionModel
@{
    ViewData["Title"] = "Game Collection Records!";
}

<div class='text-center'>
    @if (@AddModel.successMessage.Length > 0 && @AddModel.success)
    {
        <div>
            <h1 class="display-4">@AddModel.successMessage</h1>
            @if (!string.IsNullOrEmpty(@AddModel.insertImg) && AddModel.insertImg != "")
            {
                <img src="@Html.Raw(@AddModel.insertImg)" alt="Game Image" style="width: 100px; height: auto;" />
            }
            else
            {
                <img src="@Html.Raw("https://cs710032001ea63f0a3.blob.core.windows.net/images/kisspng-video-game-game-controller-joystick-online-game-vector-gamepad-5a7166f1d5b6b1.8005384115173813618754.png")" alt="Game Image" style="width: 100px; height: auto;" />
            }
        </div>
        // Reset boolean flag for game added success message
        AddModel.success = false;
    }
    else @if (ViewData["searchMessage"] != null)
    {
        <div class='alert alert-danger fade show' role='alert'>
            <h1 class="alert-heading">@ViewData["searchMessage"]</h1>
        </div>
    }
    else if (TempData["DeleteMessage"] != null)
    {
        <div class="alert alert-info fade show" role="alert">
            <h1 class="alert-heading">@TempData["DeleteMessage"]</h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Check out our Game Collection</h1>
            <br />
            <h3>Here we have our favorite classic games.</h3>
            <br />
        </div>
    }
</div>


@if (TempData["DeleteMessage"] != null)
    {
        <div class="alert alert-info" role="alert">
            @TempData["DeleteMessage"]
        </div>
    }
@if (User.Identity.IsAuthenticated)
    {
        <h2>
            <a class="btn btn-outline-primary btn-sm" href="/Add">New Game</a>
        </h2>
    }
    else
    {
        <h2>Login to add games <br><a class="btn btn-outline-primary btn-sm" href="/Login">Login in here</a></h2>
    }


<table class="table">
    <thead class="text-white">
        <tr>
            <th>Title</th>
            <th>Publisher</th>
            <th>Platform</th>
            <th>Category</th>
            <th>Rating</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-white">
        @foreach (var game in Model.gamesList)
        {
            <tr>
                <td>@game.gameTitle</td>
                <td>@game.gamePublisher</td>
                <td>@game.gamePlatform</td>
                <td>@game.gameCategory</td>
                <td>@game.gameRating</td>
                <td>
                    @if (!string.IsNullOrEmpty(game.gameImage) && game.gameImage != "No image")
                    {
                        <img src="@Html.Raw(game.gameImage)" alt="Game Image" style="width: 100px; height: auto;" />
                    }
                    else
                    {
                        <img src="@Html.Raw("https://cs710032001ea63f0a3.blob.core.windows.net/images/kisspng-video-game-game-controller-joystick-online-game-vector-gamepad-5a7166f1d5b6b1.8005384115173813618754.png")" alt="Game Image" style="width: 100px; height: auto;" />
                    }
                </td>
                <td>
                    <a class="btn btn-outline-info btn-sm" href="/Trivia?id=@game.gameId" name="gameId">Quiz</a>
                    <br />
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-outline-success btn-sm" href="/Ratings?id=@game.gameId">Rate</a>
                        <br />
                        <a class="btn btn-outline-danger btn-sm" href="/Delete?id=@game.gameId">Delete</a>
                    }
                    else
                    {
                        <p><small>Login to Rate or Delete this game</small> <br><a class="btn btn-outline-primary btn-sm" href="/Login">Login in here</a></p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>