@page
@model VideoGameGrade.Pages.GameCollectionModel
@{
    ViewData["Title"] = "Game Collection Records!";
}

<div class='text-center'>
    @if (@AddModel.successMessage.Length > 0 && @AddModel.success)
    {   // Display success message with image if a game is added
        <div>
            <h1 class="display-4 rate-text-color">@AddModel.successMessage</h1>
            @if (!string.IsNullOrEmpty(@AddModel.insertImg) && AddModel.insertImg != "")
            {
                <img src="@Html.Raw(@AddModel.insertImg)" alt="Game Image" style="width: 100px; height: auto;" />
            }
            else
            {
                <img src="@Html.Raw("https://cs710032001ea63f0a3.blob.core.windows.net/images/kisspng-video-game-game-controller-joystick-online-game-vector-gamepad-5a7166f1d5b6b1.8005384115173813618754.png")" alt="Game Image" style="width: 100px; height: auto;" />
            }
        </div>
        // Reset boolean flag for game added success message
        AddModel.success = false;
    }
    else @if (ViewData["searchMessage"] != null)
    {   // Display search message informing the user no result was found if a search was performed
        <div class="display-6 rate-text-color">
            <h1>@ViewData["searchMessage"]</h1>
        </div>
    }
    else if (TempData["DeleteMessage"] != null)
    {   // Display warning message for user trying to delete a game while not logged in or having no account
        // Displays buttons to navigate to login or register page if a user attempts to delete a game
        <div class="display-6 rate-text-color">
            <h1>@TempData["DeleteMessage"]</h1>
            <br />
            <a class="btn btn-outline-warning m-1" href="/Login">Login</a>
            <a class="btn btn-outline-warning m-1" href="/Register">Register</a>
        </div>
    }
    else if (TempData["AddMessage"] != null)
    {   // Display warning message for user trying to add a game while not logged in or having no account
        // Displays buttons to navigate to login or register page if a user attempts to add a game
        <div class="display-6 rate-text-color">
            <h1>@TempData["AddMessage"]</h1>
            <br/>
            <a class="btn btn-outline-warning m-1" href="/Login">Login</a>
            <a class="btn btn-outline-warning m-1" href="/Register">Register</a>
        </div>
    }
    else if (TempData["RateMessage"] != null)
    {   // Display warning message for user trying to rate a game while not logged in or having no account
        // Displays buttons to navigate to login or register page if a user attempts to add a game
        <div class="display-6 rate-text-color">
            <h1>@TempData["RateMessage"]</h1>
            <br />
            <a class="btn btn-outline-warning m-1" href="/Login">Login</a>
            <a class="btn btn-outline-warning m-1" href="/Register">Register</a>
        </div>
    }
    else if (TempData["TriviaMessage"] != null)
    {   // Display warning message for user trying to access trivia for a game while not logged in or having no account
        // Displays buttons to navigate to login or register page if a user attempts to add a game
        <div class="display-6 rate-text-color">
            <h1>@TempData["TriviaMessage"]</h1>
            <br />
            <a class="btn btn-outline-warning m-1" href="/Login">Login</a>
            <a class="btn btn-outline-warning m-1" href="/Register">Register</a>
        </div>
    }
    else if (TempData["DeleteMsg"] != null)
    {   // Display either a success message for successfully deleting a game or a error message
        <div class="display-6 header-rate-text-color">
            <h1>@TempData["DeleteMsg"]</h1>
        </div>
    }
    else
    {   // If no other messages are present display heading
        <div>
            <h1 class="display-4">Check out our Game Collection</h1>
            <br />
            <h3>Here we have our favorite classic games.</h3>
            <br />
        </div>
    }
</div>

<h2>   
    <a class="btn btn-outline-primary btn-sm" href="/Add">New Game</a>
</h2>

<table class="table game-table-background">
    <thead class="text-white">
        <tr>
            <th>Title</th>
            <th>Publisher</th>
            <th>Platform</th>
            <th>Category</th>
            <th>Rating</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="game-table-background">
        @foreach (var game in Model.gamesList)
        {
            <tr>
                <td>
                    @game.gameTitle<br />
                    @if (!string.IsNullOrEmpty(game.gameImage) && game.gameImage != "No image")
                    {
                        <img src="@Html.Raw(game.gameImage)" alt="Game Image" style="width: 100px; height: auto;" />
                    }
                    else
                    {
                        <img src="@Html.Raw("https://cs710032001ea63f0a3.blob.core.windows.net/images/kisspng-video-game-game-controller-joystick-online-game-vector-gamepad-5a7166f1d5b6b1.8005384115173813618754.png")" alt="Game Image" style="width: 100px; height: auto;" />
                    }
                </td>
                <td>@game.gamePublisher</td>
                <td>@game.gamePlatform</td>
                <td>@game.gameCategory</td>
                <td>@game.gameRating</td>
                <td></td>
                <td>
                    <a class="btn btn-outline-info btn-sm mt-2" href="/Trivia?id=@game.gameId" name="gameId">Trivia</a>
                    <br />
                    <a class="btn btn-outline-success btn-sm mt-2" href="/Ratings?id=@game.gameId">Rate</a>
                    <br />
                    <a class="btn btn-outline-danger btn-sm mt-2" href="/Delete?id=@game.gameId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>