@page
@model VideoGameGrade.Pages.GameCollectionModel
@{
    ViewData["Title"] = "Game Collection Records!";
}

<div class='text-center'>
    @if (@AddModel.successMessage.Length > 0 && @AddModel.success)
    {
        <div class="alert alert-success fade show" role="alert">
           <h1 class="alert-heading">@AddModel.successMessage</h1>
        </div>
        // Reset boolean flag for game added success message
        AddModel.success = false;
    }
    else @if (ViewData["searchMessage"] != null)
    {
        <div class='alert alert-danger fade show' role='alert'>
            <h1 class="alert-heading">@ViewData["searchMessage"]</h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Check out our Game Collection</h1>
            <p>Here we have our favorite classic games.</p>
        </div>
    }
</div>
<h2>
    <a class="btn btn-outline-primary btn-sm" href="/Add">New Game</a>
</h2>
<table class="table">
    <thead class ="text-white">
        <tr>
            <th>Title</th>
            <th>Publisher</th>
            <th>Console</th>
            <th>Category</th>
            <th>Rating</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-white">
        @foreach(var game in Model.gamesList)
        {
            <tr>

                <td>@game.gameTitle</td>

                <td>@game.gamePublisher</td>
                <td>@game.gameConsole</td>
                <td>@game.gameCategory</td>
                <td>@game.gameRating</td>
                <td>
                    @if (!string.IsNullOrEmpty(game.gameImage) && game.gameImage != "No image")
                    {
                        <img src="@Html.Raw(game.gameImage)" alt="Game Image" style="width: 100px; height: auto;" />
                    }
                    else
                    {
                        <text>No Image</text>
                    }

                <td>
                    <a class="btn btn-outline-info btn-sm" href="/Trivia?id=@game.gameId">Quiz</a>
                    <br />
                    <a class="btn btn-outline-success btn-sm" href="Ratings?id=@game.gameId">Rate</a>
                    <br />
                    <a class="btn btn-outline-danger btn-sm" href="Delete?id=@game.gameId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
