@page
@model VideoGameGrade.Pages.TriviaModel
@{
    ViewData["Title"] = "Game Trivia!";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1>@(Model.triviaGame.Any() ? Model.triviaGame.First().gameName : "This game has no trivia questions to show")</h1>
        <h1 class="display-4">Game Trivia</h1>
        <h3>Click here to add a trivia question</h3>
        <button class="btn btn-outline-light" onclick="toggleVisible()">Create Question</button>
    </div>



    @if (Model.errorMsg.Length > 0){
        <div class="text-center">
            <div class="alert alert-danger fade show" role="alert">
                <h1>@Model.errorMsg</h1>
            </div>
        </div>
    }
}
else
{   // Send user's back to gameCollection if they are not registered or logged in
    Response.Redirect("/GameCollection");
    TempData["TriviaMessage"] = "You must have an account to play trivia.";
}

<div id="question" style="display: none;"> 
    <form method="post">
        @Html.AntiForgeryToken()

        @if (Request.Query.TryGetValue("id", out var gameID))
        {
            var gameIdValue = gameID.ToString();
            <label id="gameIdValue">Game ID: @gameIdValue</label>
            <input type="hidden" name="id" value="@gameIdValue" />
        }
            <br />
        <label>Question:</label>
        <input type="text" name="gameQuiz"
                id="question" class="form-control" value="@Model.newQuestion.gameQuiz" /><br />
        <label>Your Answer:</label>
        <input type="text" name="gameAnswer"
                id="answer" class="form-control" value="@Model.newQuestion.gameAnswer"/></<br />
        <button type="submit" class="btn btn-outline-light mt-2" name="submitBtn" value="create">Create</button>
    </form>
</div>
<div class ="mt-1">
    Correct Answers: <span id="correctCount">0</span>
</div>
    
@if(Model.successMsg.Length>0){
    <div class="text-center">
        <div class="alert alert-success fade show" role="alert">
                <h1>@Model.successMsg</h1>
        </div>
    </div>
}

<script>
    function toggleVisible() {
        var div = document.getElementById('question');
        if (div.style.display === 'none') {
            div.style.display = 'block';
        } else {
            div.style.display = 'none';
        }
    }
    function initializeCorrectCount() {
        //check to see if theres a count and if not then make it 0
        if (!localStorage.getItem('correctCount')) {
            localStorage.setItem('correctCount', '0');
        }
    }
    
    function incrementCount(){
            var count = parseInt(localStorage.getItem('correctCount')) || 0;
            count++;
            localStorage.setItem('correctCount', count.toString());
            updateCorrectCount();
    }
    function updateCorrectCount() {
        // Update the count on the page
        var count = localStorage.getItem('correctCount') || 0;
        document.getElementById('correctCount').textContent = count;
    }
    
    window.onload = function () {
        //gets called after everything else is loaded
        initializeCorrectCount();
        updateCorrectCount();
    };
  
</script>

<div style.display="block" >
<table class="table">
    <thread>
        <tr class="text-white">

            <th>Question</th>
            <th>Answer</th>
            <th></th>
            <th></th>
        </tr>
    </thread>
    <tbody class="text-white">
    
        @foreach(var item in Model.triviaGame){
            <form method="post">
            <tr>
                <!-- Leaving some of these for testing -->
                <!-- <td>@item.gameIdValue</td>-->
                <!-- <td>@item.gameName</td> -->
                <td>@item.gameQuiz</td>
                <!-- <td>@item.quizId</td> -->
                <input type="hidden" name="quizId" value="@item.quizId">
                <td><input type="text" name="quizAnswer" id="quizAnswer" class="form-control" /></td>
                <td><button type="submit" class="btn btn-outline-light form-control" name="submitBtn@(item.quizId)" value="quizSubmit" id="@($"quizSubmit_{item.quizId}")">Submit</button></td>
                <td id="isTrue">
                    @if (Model.EnteredIds.Contains(item.quizId))
                    {
                        @if (Model.isCorrect)
                        {
                            <div style="display: block;" id="correct" name="submitBtn"><span style="color: green;font-size: 28px;">&#10003;</span></div>
                            <script>
                                incrementCount();
                                updateCorrectCnt();
                            </script>
                        }
                        else
                        {

                            <div style="display: block;" id="wrong" ><span style="color: red; font-size: 28px;">X</span></div>
                        }
                                
                    }

                </td>
            </tr>
            </form>
        }
    </tbody>
</table>
</div>