@page
@model VideoGameGrade.Pages.TriviaModel
@{
}
<br />
<h2>Game Trivia</h2>
<h3>Click here to add a trivia question</h3>
<button onclick="toggleVisible()">Create Question</button>



@if (Model.errorMsg.Length > 0){
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMsg</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}
<div id="question" style="display: none;">
    <form method="post">
        @Html.AntiForgeryToken()
        @if (Request.Query.TryGetValue("id", out var gameID))
        {
            var gameIdValue = gameID.ToString();
            <label id="gameIdValue">Game ID: @gameIdValue</label>
        }
         <br />
        <label>Question:</label>
        <input type="text" name="gameQuiz"
               id="question" class="form-control" value="@Model.newQuestion.gameQuiz" /><br />
        <label>Your Answer:</label>
        <input type="text" name="gameAnswer"
               id="answer" class="form-control" value="@Model.newQuestion.gameAnswer"/></<br />
        <input type="submit" />
        
    </form>
    </div>
    

    @if(Model.successMsg.Length>0){
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@Model.successMsg</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            </div>
        </div>
    }

<script>
    function toggleVisible() {
        var div = document.getElementById('question');
        if (div.style.display === 'none') {
            div.style.display = 'block';
        } else {
            div.style.display = 'none';
        }
    }
</script>


<div style.display="block" >
    <table class="table">
<thread>
            <tr class="text-white">
        <th>ID</th>
        <th>Name</th>
        <th>Question</th>
        <th>Answer</th>
                <th></th>
            </tr>
</thread>
<tbody class="text-white">
    
    @foreach(var item in Model.triviaGame){

        <tr>
            <td>@item.gameIdValue</td>
            <td>@item.gameName</td>
            <td>@item.gameQuiz</td>
            <td><input type="text" name="quizAnswer" id="quizAnswer" class="form-control" /></td>
            <td><button type="submit" class="form-control" id="quizSubmit">Submit</button></td>
        </tr>
    }
    
</tbody>
</table>
</div>
