@page
@using Dapper
@model VideoGameGrade.Pages.TriviaModel
@{
    ViewData["Title"] = "Game Trivia!";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="centered-shaded-background">
        <h1 class="rate-text-color">@TriviaModel.triviaGameName</h1>
        <img src="@Html.Raw(@TriviaModel.triviaImage)" alt="Game Image" style="width: 100px; height: auto;" />
        <br />
        <h1 class="display-4">Game Trivia</h1>
        <h3>Click here to add a trivia question</h3>
        <button class="btn btn-outline-light  m-2" onclick="toggleVisible()">Create Question</button>
    </div>
}
else
{   // Send user's back to gameCollection if they are not registered or logged in
    Response.Redirect("/GameCollection");
    TempData["TriviaMessage"] = "You must have an account to play trivia.";
}

<!-- create a new trivia question form-->
<div id="question" style="display: none;" class="centered-shaded-background">
    <form method="post">
        @Html.AntiForgeryToken()

        @if (Request.Query.TryGetValue("id", out var gameID))
        {
            var gameIdValue = gameID.ToString();
            <input type="hidden" name="id" value="@gameIdValue" />
        }
        <br />
        <label class="m-2">Question:</label>
        <input type="text" name="gameQuiz" id="question" class="contact-form form-group form-control" value="@Model.newQuestion.gameQuiz" /><br />
        <label class="m-2">Your Answer:</label>
        <input type="text" name="gameAnswer" id="answer" class="contact-form form-group form-control" value="@Model.newQuestion.gameAnswer" /></br />
        <div class="centered-background">
            <button type="submit" class="btn btn-outline-light m-2" name="submitBtn" value="create">Create</button>
        </div>
    </form>
</div>

<!-- Display user's trivia statistics if authenticated -->
<div class="centered-shaded-background pt-2">
    @if (Model.HttpContext.User.Identity.IsAuthenticated)
    {
        var userEmail = Model.HttpContext.User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value;
        var userId = Model._db.QuerySingleOrDefault<int>("SELECT userId FROM usertable WHERE userName = @UserName", new { UserName = userEmail });
        var stats = Model.GetUserTriviaStats(userId);

        <p>Questions Answered: @stats.answeredCount</p>
        <p class="pb-2">Correct Answers: @stats.correctCount</p>
    }

    @if (Model.errorMsg.Length > 0)
    {
         <h1 class="rate-text-color m-2">@Model.errorMsg</h1>
    }

    @if (Model.successMsg.Length > 0)
    {
         <h1 class="rate-text-color m-2">@Model.successMsg</h1>
    }
</div>
<script>
    function toggleVisible() {
        var div = document.getElementById('question');
        if (div.style.display === 'none') {
            div.style.display = 'block';
        } else {
            div.style.display = 'none';
        }
    }
</script>

<!-- Display trivia questions -->
<div style="display: block;" class="shaded-background">
    <table class="table">
        <thead>
            <tr class="text-white">
                <th>Question</th>
                <th>Answer</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-white">
            @foreach (var item in Model.triviaGame)
            {
                <form method="post">
                <tr>
                    <td>@item.gameQuiz</td>
                    <input type="hidden" name="quizId" value="@item.quizId">
                    <td><input type="text" name="quizAnswer" id="quizAnswer" class="form-control" /></td>
                    <td><button type="submit" class="form-control" name="submitBtn@(item.quizId)" value="quizSubmit" id="@($"quizSubmit_{item.quizId}")">Submit</button></td>
                    <!-- Display checkmark or cross based on if the answer is correct or not -->
                    <td id="isTrue">
                            @if (Model.EnteredIds.Contains(item.quizId))
                            {
                                @if (Model.isCorrect)
                                {
                                <div style="display: block;" id="correct" name="submitBtn"><span style="color: green;font-size: 28px;">&#10003;</span></div>
                                }
                                else
                                {
                                <div style="display: block;" id="wrong"><span style="color: red; font-size: 28px;">X</span></div>
                                }
                            }
                    </td>
                </tr>
                </form>
            }
        </tbody>
    </table>
</div>